driver:

Firstname
Middlename
Lastname
Employee no.
DateofBirth
Age
EmailAdd
ContactNumber
Address
Driver License number
Driver License Expiration
Password

Supervisor:

Firstname
Middlename
Lastname
Email
ContactNumber
Password

Vehicle:
Vehicle Location
Platenumber
Model
Body no. / Chassis number

Odometer Readings:
Plate No.
Model 
Odometer 
Time and Date


Route:
Driver name
Plate No. 
Body No.
Model.
Start Odo
Time and Date of Start Odo
End Odo
Time and Date of End Odo


Vehicle Report Problem:
Title
Discription
Plate No.
Body No.
Model
Odometer
Time and Date


Maintenance History:
Plate no.
Model
Chassis no.
Installed parts
Installed date
Specs of installed parts
Time and Date


